*{
    box-sizing: border-box;
}
#features{
    max-width: 100vmax;
    padding: 10px;
    background-color: aliceblue;
    font-family: sans-serif;
}
.text{
    padding-left: 20px;
}
.box{
  display: grid;
  grid-template-columns: repeat(3 , 30% );
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  justify-content: space-between;
}
.one{
   background-color: aliceblue;
   padding: 10px;
   height: 160px;
   border-radius: 8px;
   box-shadow: 3px 3px 10px #00000052;
}
.one button{
    padding: 12px 13px;
    border: none;
    background-color: #0000008e;
    color: aliceblue;
    font-size: 16px;
    border-radius: 4px;
}
.one button:hover{
    color: azure;
    border: 1px solid silver;
    box-shadow: 0px 3px 3px 2px #ffffff;
    cursor: pointer;
}

@media (max-width: 678px) and (min-width: 320px){
    .text{
        padding-left: 10px;
    }
    .box{
        grid-template-columns: 95%;
        gap: 30px;
    }
    .one button{
        width: 93%;
        
        
    }
    .one button:hover{
        box-shadow: 0px 0px 10px #fa807288;
    }
    .one{
        padding: 15px;
    }
}